In [9]:
import pandas as pd
import statsmodels.api as sm

In [5]:
data = pd.read_excel(r"C:\Users\srina\OneDrive\Desktop\fii_data.xlsx")
data.head(2)

        Date  Nifty  change    FII      VIX
0 2021-05-28  15436     NaN  92162  17.4025
1 2021-05-31  15583    0.01  85844  16.8850

In [6]:
data.tail(2)

          Date  Nifty  change    FII      VIX
538 2023-07-27  19660  -0.006  33241  10.5125
539 2023-07-28  19646  -0.001  13814  10.1350

In [10]:
y = data ['Nifty']
x1 = data [['FII','VIX']]

In [11]:
x = sm.add_constant(x1)
results = sm.OLS(y,x).fit()
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  Nifty   R-squared:                       0.213
Model:                            OLS   Adj. R-squared:                  0.210
Method:                 Least Squares   F-statistic:                     72.86
Date:                Sun, 30 Jul 2023   Prob (F-statistic):           1.01e-28
Time:                        17:11:08   Log-Likelihood:                -4413.3
No. Observations:                 540   AIC:                             8833.
Df Residuals:                     537   BIC:                             8846.
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       1.909e+04    169.489    112.609      0.000    1.88e+04    1.94e+04
FII            0.0019      0.001      3.215      0.001       0.001       0.003
VIX         -101.7740     10.055    -10.122      0.000    -121.526     -82.022
==============================================================================
Omnibus:                       74.528   Durbin-Watson:                   0.015
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              102.443
Skew:                          -1.030   Prob(JB):                     5.69e-23
Kurtosis:                       3.558   Cond. No.                     2.97e+05
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.97e+05. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [12]:
new_data = pd.DataFrame({'const': 1,'FII': [83473, 84908], 'VIX': [15.745, 10.458]})
new_data

   const    FII     VIX
0      1  83473  15.745
1      1  84908  10.458

In [13]:
predictions = round(results.predict(new_data))
predictions

0    17645.0
1    18186.0
dtype: float64

In [14]:
predictionsdf = pd.DataFrame({'Predictions':predictions})
joined = new_data.join(predictionsdf)
joined

   const    FII     VIX  Predictions
0      1  83473  15.745      17645.0
1      1  84908  10.458      18186.0