In [5]:
import pandas as pd
import statsmodels.api as sm

In [2]:
data = pd.read_excel(r"C:\Users\srina\OneDrive\Desktop\fii_data_with1daylag.xlsx")
data.head(2)

        Date  Nifty  change    FII      VIX
0 2021-05-31  15583   0.010  92162  16.8850
1 2021-06-01  15575  -0.001  85844  17.3875

In [3]:
data.tail(2)

          Date  Nifty  change    FII      VIX
537 2023-07-27  19660  -0.006  84908  10.5125
538 2023-07-28  19646  -0.001  33241  10.1350

In [8]:
y = data ['Nifty']
x1 = data [['FII','VIX']]

In [9]:
x = sm.add_constant(x1)
results = sm.OLS(y,x).fit()
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  Nifty   R-squared:                       0.217
Model:                            OLS   Adj. R-squared:                  0.214
Method:                 Least Squares   F-statistic:                     74.06
Date:                Sun, 30 Jul 2023   Prob (F-statistic):           3.98e-29
Time:                        17:09:37   Log-Likelihood:                -4402.5
No. Observations:                 539   AIC:                             8811.
Df Residuals:                     536   BIC:                             8824.
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       1.909e+04    167.838    113.720      0.000    1.88e+04    1.94e+04
FII            0.0021      0.001      3.454      0.001       0.001       0.003
VIX         -101.5476      9.952    -10.204      0.000    -121.097     -81.998
==============================================================================
Omnibus:                       77.715   Durbin-Watson:                   0.018
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              108.402
Skew:                          -1.054   Prob(JB):                     2.89e-24
Kurtosis:                       3.621   Cond. No.                     2.96e+05
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.96e+05. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [11]:
new_data = pd.DataFrame({'const': 1,'FII': [83473, 84908], 'VIX': [15.9400, 10.5125]})
new_data

   const    FII      VIX
0      1  83473  15.9400
1      1  84908  10.5125

In [15]:
predictions = round(results.predict(new_data))
predictions

0    17640.0
1    18194.0
dtype: float64

In [16]:
predictionsdf = pd.DataFrame({'Predictions':predictions})
joined = new_data.join(predictionsdf)
joined

   const    FII      VIX  Predictions
0      1  83473  15.9400      17640.0
1      1  84908  10.5125      18194.0

In [17]:
new_data = pd.DataFrame({'const': 1,'FII': x1['FII'], 'VIX': x1['VIX']})
new_data

     const    FII      VIX
0        1  92162  16.8850
1        1  85844  17.3875
2        1  88269  17.2100
3        1  78865  15.7450
4        1  83473  15.9400
..     ...    ...      ...
534      1  88740  11.6525
535      1  91162  10.2425
536      1  80183  10.4575
537      1  84908  10.5125
538      1  33241  10.1350

[539 rows x 3 columns]

In [18]:
predictions = round(results.predict(new_data))
predictions

0      17561.0
1      17497.0
2      17520.0
3      17650.0
4      17640.0
        ...
534    18086.0
535    18234.0
536    18190.0
537    18194.0
538    18126.0
Length: 539, dtype: float64

In [21]:
predictionsdf = pd.DataFrame({'Predictions':predictions})
joined = new_data.join(predictionsdf)
joined['Target'] = y
joined
diff = []
for i in range(len(joined)):
    a = round((((joined.iloc[i,3]/joined.iloc[i,4])-1)*100),1)
    diff.append(a)
joined['diff'] = diff
joined.head(2)

   const    FII      VIX  Predictions  Target  diff
0      1  92162  16.8850      17561.0   15583  12.7
1      1  85844  17.3875      17497.0   15575  12.3

In [ ]:
check =